<h3>TODO List</h3>
<div class="m-t-1 m-b-1">
  <input type="text" class="form-control" placeholder="Enter New Item" #todoText />
  <button class="btn btn-primary m-t-1" (click)="addItem(todoText.value); todoText.value=''">
    Add
  </button>
</div>
<table class="table table-striped">
  <tr>
    <th>S.no.</th>
    <th>Description</th>
    <th>Mark Complete</th>
    <th>Completed</th>
  </tr>
  <tr *ngFor="let item of getListOfItems(); let i = index">
    <td>{{ i+1 }}</td>
    <td>{{ item.action }}</td>
    <td><input name="{{chk+i}}" id="{{chk+i}}" type="checkbox" [(ngModel)]="item.isComplete" /></td>
    <td [ngSwitch]="item.isComplete">
      <span *ngSwitchCase="true">Yes</span>
      <span *ngSwitchDefault>No</span>
    </td>
  </tr>
</table>
<div>
  Items to complete: {{toDoItems.length}}
</div>